.container{
    height: 500px;
    width: 800px;
    
    background-color: aqua;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
}
.item{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border: 1px solid black;
}
.item2{
    order: -1;
}