
.p{
    color: red; 
    background-color: lightgrey;      
}

#jk{
    font-size: 25px;          
}

.box1{
    border: 2px solid black; 
    width: 200px; 
    height: 100px; 
    background-color: lightgreen; 
    margin: 10px; 
    padding: 10px; 
}
.box2{
    border: 2px solid black; 
    width: 200px; 
    height: 100px; 
    background-color: lightblue; 
    margin: 10px; 
    padding: 10px; 
}
.box3{
    border: 2px solid black; 
    width: 200px; 
    height: 100px; 
    background-color: lightcoral; 
    margin: 10px; 
    padding: 10px; 
}
.box4{
    border: 2px solid black; 
    width: 200px; 
    height: 100px; 
    background-color: lightpink; 
    margin: 10px; 
    padding: 10px; 
}
.yo{
    color:red;
}
.box5{
    border: 5px solid black; 
    width: 400px; 
    height: 100px; 

}
h4{
    color:blueviolet;
    text-align:center;
}

.ok{
    width: 500px;
    height: 200px;
    border: 3px solid black;
    text-align: center;
}

h1{
    color:black;
    background-color:cyan;

}
h2{
    color:black
}
.oo{
    color:green;
   
}
u{
    border: 2px solid black;
}
.card1{
    width:200px;
    height:400px;
   background-color: yellow;
    text-align:center;
    margin:20px;
    padding:10px;
}
.card2{
    width:200px;
    height:400px;
   background-color: pink;
    text-align:center;
    margin:20px;
    padding:10px;
}
.card3{
    width:200px;
    height:400px;
   background-color: lightblue;
    text-align:center;
    margin:20px;
    padding:10px;
}
div{
    display:inline-block;
}