
.p{
    color: red; 
    background-color: lightgrey;      
}

#jk{
    font-size: 25px;          
}

.box1{
    border: 2px solid black; 
    width: 200px; 
    height: 100px; 
    background-color: lightgreen; 
    margin: 10px; 
    padding: 10px; 
}
.box2{
    border: 2px solid black; 
    width: 200px; 
    height: 100px; 
    background-color: lightblue; 
    margin: 10px; 
    padding: 10px; 
}
.box3{
    border: 2px solid black; 
    width: 200px; 
    height: 100px; 
    background-color: lightcoral; 
    margin: 10px; 
    padding: 10px; 
}
.box4{
    border: 2px solid black; 
    width: 200px; 
    height: 100px; 
    background-color: lightpink; 
    margin: 10px; 
    padding: 10px; 
}
.yo{
    color:red;
}
.box5{
    border: 5px solid black; 
    width: 400px; 
    height: 100px; 

}
h4{
    color:blueviolet;
    text-align:center;
}